body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Rock Salt', cursive;
    text-align: center;
  }

  #header {
    display: flex;
    flex-direction: column;
  }

h1 {
    margin: 0;
    background-color: steelblue;
    line-height: 100px;
    color: khaki;
    font-size: 2em;
  }
  
  h2 {
    margin: 10px;
  }

  .tagline {
    font-family: 'Quicksand', sans-serif;
    color: lightslategrey;
    line-height: 125px;
  }

  .navigation {
    display: inline-flex;
    justify-content: space-around;
    margin: 0 10%;
  }

  .navigation p{
    display: inline;
    padding: 10px 10px;
  }

  a {
    text-decoration-line: underline;
    cursor: pointer;
  }

  #main {
    padding-top: 35px;
    opacity: 0.9;
  }

  .mission {
    display: flex;
    height: 400px;
    background-image: url("/images/EBEApril-54.jpg");
    padding-top: 35px;
    background-position: center;
    background-size: cover;
  }

  .mission .content {
    margin: auto;
    background-color: antiquewhite;
    width: 100%;
  }

  .portfolio {
    padding-top: 70px;
    min-height: 500px;
  }

  .portfolio> div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 600px;
   display: inline-flex;
  }

  .About {
    background-color: steelblue;
  }

  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    } }
    